*{
  font-family: "SUSE Mono", Helvetica, sans-serif, Arial;
  box-sizing: border-box;
}

nav {
   text-align: right;
   font-size: 18px;
   font-weight: bold;
   line-height: 0%;
}

body {
  background-color: #f4f4f9;
  color: black;
  font-style: normal;
  font-size: 16px;
  line-height: normal;
}

h1 {
  color: black;
  font-size: 2.5em;
  text-align: right;
}

h2 {
  color: #2f4550;
  font-size: 1.875em;
}

h3 {
  color: #586f7c;
  font-size: 18px;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

footer{
  text-align: center;
  margin: 50px;
}

footer p {
  font-size: 13px;
}

#home-gallery{
  margin-top: 20px;
  margin-left: 20px;
}

.about-section{
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  justify-content: space-around;
}

.about-text {
  margin-top: 100px;
  padding: 10px;
  width: 30%;
  text-align: right;
  border: 20px solid pink;
}
.selfie {
  display: inline-block;
  width: 800px;
  height: 500px;
  margin: 0 auto;
}